html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  color: #151618;
  font-family: 'Open Sans';
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 0;
  min-height: 200px;
}

.modal,
.menu__btn,
.menu__close-btn,
.mobile-nav {
  display: none;
}

.menu__btn {
  width: 40px;
  height: 20px;
  background-image: url(../images/burger.svg);
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  margin-left: 83px;
  font-size: 18px;
}

.menu__item {
  padding: 0 7px 2px 0;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__item-search {
  margin-left: 80px;
}

.top {
  background-image: url(../images/tea-plant.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  font-family: 'Cormorant', serif;
  min-height: 500px;
  font-weight: 400;
}

.top__title {
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 20px;
  max-width: 780px;
  line-height: 1;
}

.top__text {
  font-size: 24px;
  margin-bottom: 48px;
  max-width: 560px;
  line-height: normal;
}

.blockquote__text {
  text-align: center;
  font-family: 'Cormorant', serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;

  max-width: 704px;
  margin: 150px auto;
}

@media (max-width: 1000px) {
  .menu__list {
    margin-left: 60px;
  }

  .menu {
    margin-right: auto;
  }

  .user-actions__item-search {
    margin-left: 30px;
  }

  .header__inner {
    min-height: auto;
  }

  .blockquote__text {
    margin-top: 120px;
    margin-bottom: 135px;
  }
}

@media (max-width: 860px) {
  .menu {
    order: -1;
    margin-right: 0;
  }

  .logo {
    margin-left: auto;
    margin-right: 154px;
  }

  .mobile-nav,
  .menu__close-btn,
  .menu__btn {
    display: block;
  }

  .mobile-nav {
    width: 100%;
  }

  .mobile-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f2ea;
    padding: 20px 0;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 36px;

    margin: 30px 30px 0 30px;
    padding: 60px 0;
    border-top: 2px solid #f7f2ea;
  }

  .mobile-menu__item {
    font-size: 13px;
  }

  .menu__list {
    transform: translateY(-100%);
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 60px;
    width: 480px;
  }

  .menu__list.menu__list--open {
    transform: translateY(0%);
  }

  .menu__close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .menu__item {
    padding: 0;
    font-size: 24px;
    font-family: 'Cormorant', serif;
  }

  .modal {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
  }

  .modal.modal--open {
    display: block;
    opacity: 100%;
  }
}

@media (max-width: 768px) {
  .header__inner {
    padding-left: 64px;
    padding-right: 64px;
  }

  .blockquote__text {
    max-width: 640px;
  }
}

@media (max-width: 680px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__inner {
    padding: 10px 0;
  }

  .top__title {
    font-size: 40px;
  }

  .blockquote__text {
    font-size: 16px;
    max-width: 370px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .logo {
    margin-right: 80px;
  }

  .logo img {
    width: 39px;
  }

  .top__title {
    line-height: normal;
  }

  .menu__list {
    width: 360px;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-right: 50px;
  }

  .user-actions__item-search {
    margin-left: 0;
  }

  .top__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .top__text {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  .blockquote__text {
    margin-top: 70px;
    margin-bottom: 80px;
    max-width: 340px;
  }

  .top__inner {
    max-height: 367px;
  }
}
